$bg-lighten-color: #ffffff;
$bg-darken-color: #fbfbfb;


$text-primary-color: #34495e;
$text-secondary-color: #707f8e;


$dominant-color-primary: #f04c00;
$dominant-color-secondary: #00a4f0;


$border-color: rgba(0,0,0,0.05);
