@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Roboto');


$text-primary-typography: "Permanent Marker", cursive;
$text-secondary-typography: "Roboto", sans-serif;

$thin: 100;
$light: 300;
$normal: 400;
$semibold: 500;
$bold: 700;
